.widget {
  width: 90vw;
  height: 150px;
  background: linear-gradient(274.42deg, #da840d 0%, #f12711 124.45%);
  /* blue-shadow */
  box-shadow: 0px 10px 22px rgba(149, 173, 254, 0.3);
  border-radius: 20px;

  color: white;
  padding: 20px;
}

.col-1 button {
  padding: 5px;
  border-radius: 20px;
  width: 100px;
  border: none;
  height: 40px;

  margin-top: 10px;

  /* Purple-Linear */
  background: linear-gradient(274.42deg, #c58bf2 0%, #eea4ce 124.45%);
  border-radius: 50px;

  /* Text / Caption (Semi-bold) */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 15px;
  /* identical to box height, or 150% */

  /* white-color */
  color: #ffffff;
}

.col-1 h3,
.col-1 h5 {
  margin: 0.4rem;
}
